/*
font-family: 'Bitter', serif;
font-family: 'Mukta', sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

.content h3 {
  text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
  font-weight: 500;
}

h1 {
  font-size: 80px;
  letter-spacing: -1.5px;
  font-weight: 400;
}

h2 {
  font-size: 50px;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 38px;
  letter-spacing: 0px;
}

h4 {
  font-size: 30px;
  letter-spacing: 0.25px;
}

h5 {
  font-size: 24px;
  letter-spacing: 0.25px;
}

h6 {
  font-size: 20px;
  letter-spacing: 0.25px;
}

.info {
  text-align: center;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
}

.info span {
  color: #e95400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.headline {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0px;
  margin: 40px 0;
}

h2 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.quote {
  font-style: italic;
  font-size: 14px;
  border-left: 2px solid #e95400;
  padding-left: 16px;
  margin: 32px 0 32px 32px;
}

.quote cite {
  display: block;
  font-weight: bold;
  margin-left: 20px;
}

code {
  color: #e95400;
}

footer {
  background-color: blueviolet;
}

footer ul {
  list-style: none;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  text-align: center;
  padding: 28px 0;
}

footer li {
  display: inline-block;
  padding: 0 16px;
}

footer a {
  text-decoration: none;
  color: #fff;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}
