/*
font-family: 'Bitter', serif;
font-family: 'Mukta', sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Mukta', sans-serif;
  font-size: 16px;
  letter-spacing: 0.5px;
}

.content {
  max-width: 900px;
  margin: 0 auto;
  padding: 32px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Bitter', serif;
}

.info {
  text-align: center;
  font-family: Bitter, serif;
  font-weight: bold;
  font-size: 14px;
}

.info span {
  color: #e95400;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
